/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #ade25d;
    --color-secondary: #eb8258;

    --color-neutral-light: #fff;
    --color-neutral-dark: #2e2f2f;

    --color-fail: #f6511d;
}
