{% include '_partials/_header.html' %}

<canvas class="webgl"></canvas>

<div class="hero js-experience" data-p="0" data-r-x="1.5" data-r-y="0" data-r-z="0">
    <div class="hero__content">
        <div class="wrapper">
            <h1>
                Animal Crossing:
                <br />
                New Horizons
            </h1>
        </div>
        <a href="#paradis" class="hero__arrow">
            <svg class="icon icon--xl">
                <use xlink:href="#icon-chevron-down"></use>
            </svg>
            <span class="u-hidden-visually">Accéder au contenu</span>
        </a>
    </div>
</div>

<div class="sections">
    <section id="paradis" class="section js-experience" data-p="1.5" data-r-x="0.6" data-r-y="-0.5" data-r-z="0.2">
        <div class="wrapper">
            <div class="section__content">
                <div class="col">
                    <h2>Créez votre paradis insulaire</h2>
                    <p>
                        Dans Animal Crossing: New Horizons, vous avez le pouvoir de façonner votre propre île paradisiaque. Personnalisez chaque détail, des
                        paysages aux bâtiments, pour créer un lieu unique qui reflète votre style personnel.
                    </p>
                    <a href="#social" class="btn">suite</a>
                </div>
            </div>
        </div>
    </section>

    <section id="social" class="section js-experience" data-p="-1.5" data-r-x="0.2" data-r-y="-1.9" data-r-z="-0.2">
        <div class="wrapper">
            <div class="section__content">
                <div class="col">
                    <h2>Vie sociale vibrante</h2>
                    <p>
                        Plongez dans une communauté animée en ligne. Visitez les îles de vos amis, partagez des cadeaux et participez à des événements
                        saisonniers pour renforcer les liens avec vos voisins animaux.
                    </p>
                    <a href="#collection" class="btn">suite</a>
                </div>
            </div>
        </div>
    </section>

    <section id="collection" class="section js-experience" data-p="1.5" data-r-x="0.6" data-r-y="-6.7" data-r-z="0.2" data-c-z="3">
        <div class="wrapper">
            <div class="section__content">
                <div class="col">
                    <h2>La collection d'objets</h2>
                    <p>
                        La collection d'objets dans Animal Crossing: New Horizons est un voyage riche en découvertes. Vous commencez votre aventure sur une île
                        déserte et vous devez la transformer en un paradis insulaire. Pour ce faire, vous devrez récolter des objets, des matériaux et des
                        ressources qui vous aideront à personnaliser votre île et à créer l'environnement de vos rêves. La collection d'objets est une aventure
                        sans fin, car de nouveaux objets et événements sont constamment ajoutés au jeu, encourageant les joueurs à revenir encore et encore.
                    </p>

                    <p>
                        L'un des aspects les plus gratifiants de la collection d'objets est la personnalisation de votre espace de vie. Vous pouvez décorer
                        votre maison avec une vaste gamme de meubles, de tableaux, de sculptures et d'autres objets, créant ainsi un chez-vous unique qui
                        reflète votre style personnel. La recherche d'objets rares et exclusifs devient une quête obsessionnelle pour de nombreux joueurs, les
                        poussant à échanger avec d'autres joueurs, à chasser des insectes rares la nuit et à plonger dans les profondeurs de l'océan pour
                        attraper des créatures marines rares.
                    </p>

                    <p>
                        La collection d'objets va au-delà de la simple décoration intérieure. Les joueurs peuvent également exposer leurs trouvailles au musée
                        de l'île, dirigé par le charmant hibou, Blathers. Le musée est un lieu magique où les joueurs peuvent admirer leur collection de
                        poissons, d'insectes, de fossiles et d'œuvres d'art. La création d'une collection complète et variée au musée est un défi qui demande de
                        la patience et de la persévérance, mais qui offre des récompenses inestimables en termes de satisfaction personnelle.
                    </p>

                    <p>
                        La collection d'objets est également étroitement liée à l'économie du jeu. Les joueurs peuvent acheter, vendre et échanger des objets
                        avec les habitants de l'île et d'autres joueurs du monde entier. Cette économie virtuelle est alimentée par la rareté des objets, la
                        demande des joueurs et l'offre fluctuante. Les objets saisonniers, les événements spéciaux et les festivals contribuent à maintenir
                        l'intérêt des joueurs et à stimuler l'économie de l'île.
                    </p>

                    <p>
                        Les événements spéciaux, tels que la chasse aux œufs de Pâques, le festival du cerisier en fleurs et la fête de l'Halloween, ajoutent
                        une dimension temporelle à la collection d'objets. Les joueurs doivent être actifs pendant des périodes spécifiques pour obtenir des
                        objets exclusifs liés à ces événements. Cette dynamique saisonnière encourage les joueurs à rester engagés dans le jeu tout au long de
                        l'année.
                    </p>

                    <p>
                        La collection d'objets dans Animal Crossing: New Horizons favorise également le jeu social. Les joueurs peuvent visiter les îles de
                        leurs amis, échanger des objets, organiser des fêtes et participer à des activités amusantes ensemble. Cela renforce le sentiment de
                        communauté parmi les joueurs, créant un monde virtuel où l'interaction sociale est encouragée et récompensée.
                    </p>

                    <p>
                        En conclusion, la collection d'objets dans Animal Crossing: New Horizons est bien plus qu'une simple mécanique de jeu. C'est un voyage
                        enrichissant et infini qui encourage la créativité, l'exploration et le jeu social. Que vous soyez un collectionneur compulsif à la
                        recherche d'objets rares ou un joueur occasionnel cherchant à personnaliser votre île, Animal Crossing offre une expérience de
                        collection unique et mémorable qui continue à captiver les joueurs du monde entier. Alors, plongez dans ce monde enchanteur et commencez
                        votre propre aventure de collection d'objets dès aujourd'hui !
                    </p>
                    <a href="#exploration" class="btn">suite</a>
                </div>
            </div>
        </div>
    </section>

    <section id="exploration" class="section js-experience" data-p="-1.5" data-r-x="0.6" data-r-y="-7.7" data-r-z="0.2">
        <div class="wrapper">
            <div class="section__content">
                <div class="col">
                    <h2>Exploration et découvertes infinies</h2>
                    <p>
                        Chaque jour apporte de nouvelles surprises. Explorez les îles mystérieuses, découvrez des fossiles, capturez des insectes rares et
                        plongez-vous dans une expérience de jeu constamment évolutive.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{% include '_partials/_footer.html' %}
